* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #fafafa;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h3 {
	text-align: center;
}

#content {
	width: 100vw;

	display: flex;
	flex-direction: column;
}

.links-image {
	height: 2rem;
}

.about-dev-container {
	display: flex;
	gap: 1rem;
	align-self: center;
}

.about-us {
	margin: 1rem;
	padding: 1rem;

	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	background-color: #e0ffcd;
}

.about-image-container {
	height: 40vh;

	overflow: hidden;
	box-shadow:
		0px 4px 16px rgba(17, 17, 26, 0.1),
		0px 8px 24px rgba(17, 17, 26, 0.1),
		0px 16px 56px rgba(17, 17, 26, 0.1);
}

.about-image {
	height: 100%;
	width: 100%;

	object-fit: cover;
	object-position: center;
}

.user-name {
	font-size: 2rem;
	color: white;
	text-align: center;

	transform: translateY(-110%);
}

.info-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.projects-container {
	padding: 1rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	gap: 1rem;
}

.project {
	height: 240px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.project-name {
	font-weight: bold;
}

.project-name-link {
	display: flex;
	justify-content: space-between;
}

.project-link {
	height: 1rem;
}

.footer {
	padding: 1rem;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;

	background-color: #e0ffcd;
}

.footer-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-image-container {
	height: 40vh;
	object-fit: fill;

	overflow: hidden;
	box-shadow:
		0px 4px 16px rgba(17, 17, 26, 0.1),
		0px 8px 24px rgba(17, 17, 26, 0.1),
		0px 16px 56px rgba(17, 17, 26, 0.1);
}

@media only screen and (min-width: 768px) {
	.about-image-container {
		width: auto;
	}

	.about-us {
		flex-wrap: nowrap;
	}
}

@media only screen and (min-width: 1000px) {
	.about-us {
		width: 70vw;
		margin: 1rem auto;
	}

	.projects-container {
		display: grid;
		gap: 1rem;
		justify-items: center;
		grid-template-columns: repeat(3, 1fr);
	}

	.project {
		width: 20vw;
	}
}
